.profile__container {
    margin: 0 auto;
    /* border: 2px solid yellow; */
    padding: 2rem;
    background: #d8efed;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
  }
  
  .profile__sectionHeading {
    /* border: 2px solid red; */
    margin-bottom: 2rem;
  }
  
  .profile__sectionHeading p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .profile__infoContainer {
    /* border: 2px solid greenyellow; */
    --bs-gutter-x: 0;
    padding: 2rem;
    width: 60%;
  }
  
  .profile__infoContainer form {
      display: flex;
      justify-content: center;
  }
  
  .profile__imgContainer {
    padding: 1rem;
  }
  
  .profile__imgContainer input {
    display: none;
  }
  
  .profile__imgContainer input + label {
    width: 186px;
    height: 168px;
    border: 1px dashed #064848;
    cursor: pointer;
    border-radius: 10px;
    background-color: #d8efed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile__imgContainer input + label > .fa-image {
    font-size: 60px;
    color: gray;
    opacity: 0.3;
  }
  
  .profile__imgContainer input + label:hover > .fa-image {
    opacity: 0.6;
  }
  
  .profile__imgLabel {
    background-size: cover;
  }
  .profile__imgLabel img{
    background-size: cover;
    border-radius: 10px;
    max-width: 10.5rem;
    height: 9.5rem;
  }
  
  .profile__inputContainer {
    padding: 0.5rem 2rem; 
  }
  
  .profile__inputDiv {
    width: 80%;
    margin: 0.5rem 0;
  }
  
  .profile__inputDiv input {
      background: #d8efed;
  }
  
  .profile__submitBtn button {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      border: none;
      background: #064848;
      color: #d8efed;
      transition: all 0.3s ease-out;
  }
  
  .profile__submitBtn button:hover {
      color: #064848;
      background: #d8efed;
      transition: all 0.3s ease-out;
  }
  
  .profile__submitBtnd button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    background: #d9534f;
    color: #d8efed;
    transition: all 0.3s ease-out;
  }
  
  .profile__submitBtnd button:hover {
    color: #d9534f;
    background: #d8efed;
    transition: all 0.3s ease-out;
  }
  
  
  @media screen and (max-width: 1300px) {
      .profile__infoContainer {
          width: 70%;
      }
  }
  
  @media screen and (max-width: 1000px) {
      .profile__infoContainer {
          width: 100%;
      }
  }
  
  @media screen and (max-width: 800px) {
      .profile__infoContainer {
          padding: 0;
      }
      .profile__container {
          padding: 2rem 0;
      }
  }
  
  @media screen and (max-width: 600px) {
      .profile__infoContainer {
          padding: 0;
      }
      .profile__container {
          padding: 2rem 0;
      }
      .profile__infoContainer form {
          flex-direction: column;
          align-items: center;
      }
      .profile__inputDiv {
          width: 100%;
      }
      .profile__inputContainer {
          padding: 2rem 0;
      }
  }